{% extends "mysite_file/layout1.html" %}

{% block body %}
<div class="container1">
   <div class="child">
      <h5 class="neonText" style="font-size: 50px;">Hello World</h5>
      <h1 class="glow" style="font-size: 100px;color: #ffffff;">I'm Navneet Setia</h1>
      <div class="neonText">
      <p><span>Web Developer / Freelancer / Full Stack Developer</span></p>
      </div>
      <button type="button" id="button1" class="btn btn-outline-light" onclick="hrefFunction()">About Me</button>     
      <button type="button" onclick="contact_me()" id="button2" class="btn btn-outline-light">Contact Us</button>
   </div>
</div>   

{% endblock %}